<div>
  <input type="text" (click)="onShowModalEx1()" placeholder="Airbnb like" />

  <br />
  <h2>Example 2</h2>
  <button (click)="onShowModalEx2()">Open modal</button>
</div>

<ngx-fullpage-modal *ngIf="showExample1" (onClose)="onShowModalEx1()">
  <div fullPageTitle="">
    <input type="text" placeholder="Here ?" />
  </div>
  <div fullPageContent>
    <h2>Article 1</h2>
    <p>Mon super résumé...</p>
  </div>
</ngx-fullpage-modal>

<div>
  <ngx-fullpage-modal (onClose)="onShowModalEx2()" *ngIf="showExample2">
    <div fullPageTitle="">
      Title
    </div>
    <div fullPageContent>
      <h2>Article 1</h2>
      <p>Mon super résumé...</p>
    </div>
  </ngx-fullpage-modal>
</div>
